## Examine the data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
journalist_raw = pd.read_csv("cpj_scraped_data.csv")
journalist_raw.head(1)

,Name,Organization,Date,Location,Killed,Type Of Death,Specific Location,Job,Medium,Coverage,...,Freelance,Charge,Sentence Length,Health Problems,Source of Fire,Impunity,Captive,Tortured,Threatened,Description
0,Ahmad [full name unavailable],Al-shaabiya,"October 12, 2006",Iraq,Killed,Unknown,Baghdad,NaN,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Masked gunmen in at least five vehicles drove ...

In [3]:
journalist_raw.columns

Index(['Name', 'Organization', 'Date', 'Location', 'Killed', 'Type Of Death',
       'Specific Location', 'Job', 'Medium', 'Coverage', 'Gender',
       'Local/Foreign', 'Freelance', 'Charge', 'Sentence Length',
       'Health Problems', 'Source of Fire', 'Impunity', 'Captive', 'Tortured',
       'Threatened', 'Description'],
      dtype='object')

In [5]:
journalist_raw.describe()

,Name,Organization,Date,Location,Killed,Type Of Death,Specific Location,Job,Medium,Coverage,...,Freelance,Charge,Sentence Length,Health Problems,Source of Fire,Impunity,Captive,Tortured,Threatened,Description
count,1916,1916,1916,1916,1916,1916,1897,1278,1284,1269,...,1851,1,1,2,1279,821,1138,1137,1168,1887
unique,1912,1298,1534,110,1,30,985,78,23,82,...,3,1,1,2,23,4,3,3,32,1830
top,Unidentified,Freelance,"November 23, 2009",Iraq,Killed,Murder,Baghdad,Print Reporter,Print,War,...,No,Charge,Sentence Length,Political Group,Political Group,Complete Impunity,No,No,No,In the deadliest event for the press ever reco...
freq,4,178,32,277,1916,838,110,265,503,281,...,1565,1,1,1,419,706,940,1034,809,26

In [ ]:
journalist_raw.Name.value_counts()

In [ ]:
journalist_raw.Organization.value_counts()

In [ ]:
journalist_raw.Date.value_counts()

In [ ]:
journalist_raw.Location.value_counts()

In [ ]:
journalist_raw.Killed.value_counts()

In [ ]:
journalist_raw['Type Of Death'].value_counts()

In [ ]:
journalist_raw['Specific Location'].value_counts()

In [ ]:
journalist_raw.Job.value_counts()

In [ ]:
journalist_raw.Medium.value_counts()

In [ ]:
journalist_raw.Coverage.value_counts()

In [ ]:
journalist_raw.Gender.value_counts()

In [ ]:
journalist_raw['Local/Foreign'].value_counts()

In [ ]:
journalist_raw.Freelance.value_counts()

In [ ]:
journalist_raw.Charge.value_counts()

In [ ]:
journalist_raw['Sentence Length'].value_counts()

In [ ]:
journalist_raw['Health Problems'].value_counts()

In [ ]:
journalist_raw['Source of Fire'].value_counts()

In [ ]:
journalist_raw.Impunity.value_counts()

In [ ]:
journalist_raw.Captive.value_counts()

In [ ]:
journalist_raw.Tortured.value_counts()

In [ ]:
journalist_raw.Threatened.value_counts()

## Column Fixes

### Fix column names

### Fix row alignment issues (after 'Killed)

In [ ]:
# remove row 1900
# sort by 'Threatened'
    # if item in Threatened is != 'Yes', 'No', or NaN
    # shift content in row from column ? to Description
    # test first by printing all row condition == True in order to find column ? above

# rerun command above to see if any other spurious data issues
# Build tests
# eliminate non-issue processes below

### Entity Resolution per Column

In [ ]:
# remove Killed, Charge, Sentence Length, Health Problems

In [ ]:
journalist_raw['Organization'] = journalist_raw['Organization'].replace(['Freelancer'], 'Freelance')

In [ ]:
# fix Date range issue
journalist_raw['Date'] = journalist_raw['Date'].replace()

In [ ]:
journalist_raw['Tortured'] = journalist_raw['Tortured'].replace(['Tortured'], 'Yes')

In [ ]:
# geocode countries

In [ ]:
# geocode specific location

In [ ]:
# parse and resort Job (comma delimited)

In [ ]:
# parse and resort Medium (comma delimited)

In [ ]:
# parse and resort Coverage (comma delimited)

In [ ]:
# examine and reclass Gender

In [ ]:
# examine and reclass Local/Foreign

In [ ]:
# examine reclass Freelance

In [ ]:
# parse and resort Source of Fire

In [ ]:
# examine and reclass Impunity

In [ ]:
# examine and reclass Captive

In [ ]:
# examine and reclass Tortured

In [ ]:
# examine and reclass Threatened

## Tests

## Pipeline

In [ ]:
# Build function(s) here

In [ ]:
# Export to sqlite with matching schema (see models.py)